# Generate with:( python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"  )
DJANGO_SECRET_KEY=""
DJANGO_DEBUG=True # set to False in production
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000

# Leave empty for SQLite fallback in local dev. 
# postgres for production
DATABASE_URL=

REDIS_URL=
CELERY_BROKER_URL=

# PostgreSQL (Docker Compose only)
DB_PASSWORD=devpassword

#  ImageKit SDK (REQUIRED)
IMAGEKIT_PUBLIC_KEY=""
IMAGEKIT_PRIVATE_KEY=""

WEB_CONCURRENCY=2

# Logging 
# DEBUG, INFO, WARNING, ERROR
LOG_LEVEL=DEBUG